.home {
    background-image: url(../../assets/stars.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.header {
    width: 100%;
    background-color: #0e2134;
    text-align: center;
}

.header h2 {
    margin: 0 auto;
    color: grey;
}

.system {
    height: 100%;
    width: 100%;
}

.sun {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -2.5vw;
    margin-left: -2.5vw;
    height: 5vw;
    width: 5vw;
}

.mercury {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -5vw;
    margin-left: -5vw;
    width: 10vw;
    height: 10vw;
    animation: rotate 10s infinite linear;
}

.venus {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -7vw;
    margin-left: -7vw;
    width: 14vw;
    height: 14vw;
    animation: rotate 12s infinite linear;
}

.earth {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -9vw;
    margin-left: -9vw;
    width: 18vw;
    height: 18vw;
    animation: rotate 14s infinite linear;
}

.mars {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -11vw;
    margin-left: -11vw;
    width: 22vw;
    height: 22vw;
    animation: rotate 16s infinite linear;
}

.jupiter {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -13vw;
    margin-left: -13vw;
    width: 26vw;
    height: 26vw;
    animation: rotate 18s infinite linear;
}

.saturn {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -15vw;
    margin-left: -15vw;
    width: 30vw;
    height: 30vw;
    animation: rotate 20s infinite linear;
}

.uranus {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -17vw;
    margin-left: -17vw;
    width: 34vw;
    height: 34vw;
    animation: rotate 22s infinite linear;
}

.neptune {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -18.5vw;
    margin-left: -18.5vw;
    width: 37vw;
    height: 37vw;
    animation: rotate 24s infinite linear;
}

.planetImg {
    position: relative;
    width: 2.5vw;
    height: 2.5vw;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}