.home {
    background-image: url(../../assets/galaxy.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.header {
    width: 100%;
    background-color: #0e2134; 
    text-align: center;
}

.header h2 {
    margin: 0 auto;
    color: grey;
}